@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;900&family=Roboto:ital,wght@0,300;0,700;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(224, 224, 224);
  list-style-type: none;
  font-family: "Heebo", "Roboto", sans-serif;
  text-decoration: none !important;
}

body {
  background-color: black;
}

header nav .contenedor-nav .encabezado {
  display: flex;
  align-items: center;
}
header nav .contenedor-nav .encabezado .enlace-logo {
  display: flex;
  align-items: baseline;
}
header nav .contenedor-nav .encabezado .enlace-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 5px;
}
header nav .contenedor-nav .encabezado .titulos {
  display: flex;
  flex-direction: column;
}
header nav .contenedor-nav .encabezado .titulos h1 {
  font-weight: 400;
  color: beige;
  font-size: 30px;
}
header nav .contenedor-nav .encabezado .titulos .subtitulo {
  display: flex;
  align-items: center;
}
header nav .contenedor-nav .encabezado .titulos .subtitulo h2 {
  color: rgb(223, 219, 219);
  font-weight: 300;
  font-size: 20px;
}
header nav .contenedor-nav .encabezado .titulos .subtitulo .logo-spotify {
  width: 20px;
  height: 20px;
  margin-left: 7px;
  margin-bottom: 7px;
}
header nav .contenedor-nav button {
  border: 0px !important;
}
header nav .contenedor-nav button svg {
  color: aliceblue;
  width: 50px;
  height: 50px;
}
header nav .contenedor-nav #menu ul li .nav-link {
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  color: rgb(216, 213, 213) !important;
  transition: all 0.5s ease;
}
header nav .contenedor-nav #menu ul li .nav-link:hover {
  color: rgb(243, 118, 73) !important;
}
header nav .contenedor-nav #menu .redes-menu {
  margin-top: 15px;
  margin-right: 3px;
  display: flex;
  list-style-type: none;
}
header nav .contenedor-nav #menu .redes-menu li a .logo-redes-menu {
  width: 15px;
  height: 15px;
  margin: 2px 3px;
  color: rgb(152, 151, 151);
}
header nav .contenedor-nav .dropdown-item {
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 100px;
  padding: 3px 10px;
  margin: 5px 0px;
  transition: all 0.3s ease;
}
header nav .contenedor-nav .dropdown-item:hover {
  text-shadow: none;
  background-color: rgb(230, 227, 227);
  color: black;
}
header nav .contenedor-nav .dropdown-menu {
  border-radius: 0px;
  padding: 0px 10px;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(10, 10, 10) 90%);
}
header .boton-sh {
  background-image: linear-gradient(to top, rgb(240, 78, 20), rgb(70, 22, 5) 85%);
  display: flex;
  justify-content: center;
}
header .boton-sh .boton-enviar {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 15px 10px 20px 10px;
  text-decoration: none;
  color: rgb(231, 227, 227);
  font-size: 35px;
  transition: all 0.5s ease;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
header .boton-sh .boton-enviar:hover {
  background-image: linear-gradient(to top, rgb(240, 78, 20), rgb(70, 22, 5) 95%);
  color: rgb(252, 250, 250);
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .volver-arriba a svg {
  width: 25px;
  height: 25px;
}
footer .redes-footer {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
footer .redes-footer a svg {
  width: 20px;
  margin: 0px 1px;
}

.main-inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/76nhpfNp/pexels-david-yu-1749822.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
}
.main-inicio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-inicio .container .caja-texto-inicio .texto-inicio {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  padding: 50px 50px 10px 50px;
  color: rgb(226, 224, 224);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.main-inicio .container video {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: solid 1.5px rgb(30, 137, 30);
}

.main-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/13PpB50d/young-caucasian-musician-in-headphones-singing-on-gradient-pink-purple-wall-in-neon-light-concept-of.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2% 0%;
}
.main-nosotros h3 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 3%;
  margin-top: 3%;
  text-shadow: 2px 2px 2px black;
  color: rgb(209, 207, 207);
}
.main-nosotros .texto-nosotros {
  text-align: left;
  font-size: 27px;
  margin-top: 30px;
}
.main-nosotros .texto-nosotros p {
  text-shadow: 1px 1px 1px black;
  font-weight: 300;
}

.pages-playlists {
  padding-bottom: 50px;
  padding-top: 70px;
}
.pages-playlists .titulo-playlists h3 {
  font-weight: 600;
  font-size: 60px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.pages-playlists .titulo-playlists .segui {
  padding-bottom: 30px;
  display: flex;
}
.pages-playlists .titulo-playlists .segui p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.pages-playlists .titulo-playlists .segui a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  padding-bottom: 15px;
}
.pages-playlists .titulo-playlists .segui a img {
  width: 16px;
  height: 16px;
}
.pages-playlists .caja-playlist {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages-playlists .caja-playlist iframe {
  height: 370px;
  width: 1800px;
  border-radius: 5px;
  box-shadow: 1px 1px 23px 1px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 1px 1px 23px 1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 1px 1px 23px 1px rgba(0, 0, 0, 0.38);
}
.pages-playlists .caja-playlist .indice-playlist2 {
  margin-left: 7%;
}
.pages-playlists .caja-playlist .indice-playlist2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pages-playlists .caja-playlist .indice-playlist2 ul li {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5% 1.5%;
}
.pages-playlists .caja-playlist .indice-playlist2 ul li a {
  color: white;
  font-size: 32px;
  font-weight: 400;
  border-radius: 60px;
  padding: 5px 15px;
  border-style: solid;
  border-width: 1Px;
  transition: all 0.5s ease;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 27px;
  background-color: rgba(0, 0, 0, 0.455);
}
.pages-playlists .caja-playlist .indice-playlist2 ul li a:hover {
  background-color: rgb(23, 139, 23);
  border-color: white;
  text-shadow: 2px 2px 2px black;
}

.main-canciones {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/nrdzhgg2/pexels-thibault-trillet-167491.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-canciones .container .titulo-canciones h3 {
  font-size: 60px;
  font-weight: 600;
  padding-top: 70px;
  color: rgb(226, 224, 224);
  text-shadow: 2px 2px 2px black;
}
.main-canciones .container .caja-canciones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0px;
}
.main-canciones .container .caja-canciones iframe {
  margin: 10px 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.main-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/pTHyGDKf/pexels-victor-freitas-1765712.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-contacto .caja-contacto {
  width: 60%;
  padding-bottom: 50px;
  padding-top: 50px;
}
.main-contacto .caja-contacto form div label {
  font-size: 27px;
  font-weight: 300;
}
.main-contacto .caja-contacto form div button {
  margin-top: 20px;
  background-image: linear-gradient(to top, rgb(240, 78, 20), rgb(103, 33, 8) 85%);
  border: none;
}
.main-contacto .caja-contacto form label {
  font-size: 27px;
  font-weight: 300;
}

.main-promocion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/59h5HmXb/close-up-of-a-microphone-on-a-concert-stage-with-beautiful-lighting.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.main-promocion .encabezado-promocion {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-promocion .encabezado-promocion .titulo-promocion h3 {
  color: rgb(233, 229, 229);
  font-weight: 600;
  padding-right: 4%;
  margin: 2% 2% 3% 0%;
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
}
.main-promocion .encabezado-promocion img {
  width: 35%;
  height: auto;
  margin-right: 20px;
  border: solid 1px;
}
.main-promocion .texto-promocion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 27px;
  text-align: left;
}
.main-promocion .texto-promocion p {
  margin-top: 20px;
  font-weight: 300;
  color: rgb(233, 230, 230);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.main-promocion .texto-promocion .enviar-dos {
  margin: 0% 2%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.main-promocion .texto-promocion .enviar-dos a {
  margin: 4%;
  padding: 2%;
  color: white;
  font-size: 1.3rem;
  background-image: linear-gradient(to bottom, rgb(240, 78, 20), rgb(70, 22, 5) 85%);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.main-promocion .texto-promocion .enviar-dos a:hover {
  font-size: 1.3rem;
  color: white;
  background-image: linear-gradient(to bottom, rgb(240, 78, 20), rgb(70, 22, 5) 95%);
}

.main-tutorias {
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/dVFvWgx3/black-wireless-headphones-on-black-surface.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-tutorias .encabezado-curador {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-tutorias .encabezado-curador .titulo-curador h3 {
  color: rgb(233, 229, 229);
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
  padding-right: 4%;
  font-size: 60px;
}
.main-tutorias .encabezado-curador img {
  width: 35%;
  height: auto;
  margin-right: 20px;
  border: solid 1px;
}
.main-tutorias .texto-curador {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 27px;
  text-align: left;
}
.main-tutorias .texto-curador p {
  margin-top: 10px;
  font-weight: 300;
  color: rgb(233, 230, 230);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.restaurant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.418)), url(https://i.postimg.cc/t4S3VStv/pexels-daniel-frese-131925.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.surf-vibes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/T15hzc4t/Design-sem-nome-10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.indie-summer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.507)), url(https://i.postimg.cc/HkH5KG3h/pexels-igor-starkov-769158.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.folk {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/nzLMDVrm/pexels-micah-boerma-1008739.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.rock {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/xCvxSqsH/cheering-crowd-having-fun-music-festival-nightclub.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.edm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/B6NxGjd8/two-young-women-playing-and-enjoying-with-holi-colors.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/j22KCjsF/pexels-maria-geller-2127021.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.deep-sunset {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/k5Qhb9z7/pexels-pattama-choomsree-111755.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.ryb {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/W1psfhsF/pexels-revac-film-s-photography-233194.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.rap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/B6qJ9gRs/pexels-wendy-wei-1662570.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.reggaeton-m {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/4NJ7v4Hy/pexels-jae-park-3752205.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.rap-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/4xT1CHd5/pexels-luis-quintero-2091383.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.reggaeton {
  background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/rFYLQcwM/dancing-people-in-club.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*############ DESKTOP 993 / 1245 ###############*/
@media (min-width: 993px) and (max-width: 1245px) {
  .main-inicio .container .caja-texto-inicio .texto-inicio {
    font-size: 55px;
    padding: 40px;
    padding-bottom: 10px;
  }
  .main-inicio .container video {
    width: 110px;
    height: 110px;
  }
  .main-nosotros h3 {
    font-size: 60px;
    margin-bottom: 2%;
  }
  .main-nosotros .texto-nosotros {
    font-size: 24px;
  }
  .main-promocion .encabezado-promocion .titulo-promocion h3 {
    font-size: 50px;
    padding-left: 5%;
  }
  .main-promocion .texto-promocion {
    font-size: 25px;
  }
  .main-tutorias .encabezado-curador .titulo-curador h3 {
    font-size: 50px;
  }
  .main-tutorias .texto-curador {
    margin-top: 20px;
    font-size: 25px;
  }
  .pages-playlists .titulo-playlists h3 {
    font-size: 60px;
  }
  .pages-playlists .titulo-playlists .segui {
    display: flex;
  }
  .pages-playlists .titulo-playlists .segui p {
    font-size: 16px;
  }
  .pages-playlists .titulo-playlists .segui a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
  }
  .pages-playlists .titulo-playlists .segui a img {
    width: 16px;
    height: 16px;
  }
  .pages-playlists .caja-playlist iframe {
    height: 350px;
    width: 1500px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a {
    color: white;
    font-size: 32px;
    font-weight: 400;
    border-radius: 60px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1Px;
    transition: all 0.5s ease;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 23px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a:hover {
    background-color: rgb(23, 139, 23);
    border-color: white;
    text-shadow: 2px 2px 2px black;
  }
  .main-canciones .container .titulo-canciones h3 {
    font-size: 50px;
  }
}
/*############# TABLET 768 / 992  ##################*/
@media (min-width: 768px) and (max-width: 992px) {
  header nav .contenedor-nav .encabezado .enlace-logo img {
    width: 50px;
    height: 50px;
  }
  header nav .contenedor-nav .encabezado .titulos h1 {
    font-size: 23px;
  }
  header nav .contenedor-nav .encabezado .titulos .subtitulo h2 {
    font-size: 15px;
  }
  header nav .contenedor-nav .encabezado .titulos .subtitulo .logo-spotify {
    width: 15px;
    height: 15px;
    margin-left: 4px;
  }
  header nav .contenedor-nav #menu ul li .nav-link {
    margin-left: 3px;
    font-size: 13px;
    margin: 0px !important;
  }
  header nav .contenedor-nav #menu .redes-menu li a .logo-redes-menu {
    width: 15px;
    height: 15px;
  }
  header nav .contenedor-nav .dropdown-item {
    font-size: 12px;
  }
  header .boton-sh a {
    font-size: 35px;
  }
  .main-inicio .container .caja-texto-inicio .texto-inicio {
    font-size: 50px;
    padding: 40px;
    padding-bottom: 10px;
  }
  .main-inicio .container video {
    width: 100px;
    height: 100px;
  }
  .main-nosotros {
    padding: 2% 0%;
  }
  .main-nosotros h3 {
    font-size: 50px;
    margin-bottom: 2%;
  }
  .main-nosotros .texto-nosotros {
    font-size: 21px;
  }
  .main-promocion .encabezado-promocion .titulo-promocion h3 {
    font-size: 40px;
  }
  .main-promocion .texto-promocion {
    font-size: 20px;
  }
  .main-tutorias .encabezado-curador .titulo-curador h3 {
    font-size: 40px;
  }
  .main-tutorias .texto-curador {
    font-size: 20px;
  }
  .pages-playlists .titulo-playlists h3 {
    font-size: 50px;
  }
  .pages-playlists .titulo-playlists .segui {
    display: flex;
  }
  .pages-playlists .titulo-playlists .segui p {
    font-size: 16px;
  }
  .pages-playlists .titulo-playlists .segui a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
  }
  .pages-playlists .titulo-playlists .segui a img {
    width: 16px;
    height: 16px;
  }
  .pages-playlists .caja-playlist iframe {
    height: 350px;
    width: 600px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a {
    color: white;
    font-size: 32px;
    font-weight: 400;
    border-radius: 60px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1Px;
    transition: all 0.5s ease;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 17px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a:hover {
    background-color: rgb(23, 139, 23);
    border-color: white;
    text-shadow: 2px 2px 2px black;
  }
  .main-canciones .container .titulo-canciones h3 {
    font-size: 45px;
  }
  .main-contacto .caja-contacto {
    width: 80%;
  }
  .main-contacto .caja-contacto h3 {
    font-size: 40Px;
  }
  .main-contacto .caja-contacto form div label {
    font-size: 25px;
  }
  .main-contacto .caja-contacto form label {
    font-size: 25px;
  }
}
/*####################### TABLET 576 / 767 #######################*/
@media (min-width: 576px) and (max-width: 767px) {
  header nav .contenedor-nav .encabezado .titulos h1 {
    margin-bottom: 6px !important;
    font-size: 25px;
  }
  header nav .contenedor-nav .encabezado .titulos .subtitulo .logo-spotify {
    margin-bottom: 8px;
  }
  header nav .contenedor-nav button svg {
    width: 45px;
    height: 45px;
  }
  header nav .contenedor-nav #menu ul li .nav-link {
    font-size: 20px;
    margin: 0px !important;
  }
  header nav .contenedor-nav #menu .redes-menu {
    margin-top: 20px;
  }
  header nav .contenedor-nav #menu .redes-menu li a .logo-redes-menu {
    width: 20px;
    height: 20px;
  }
  header nav .contenedor-nav .dropdown-item {
    font-size: 18px;
    text-align: center;
    border-radius: 60px;
  }
  header .boton-sh .boton-enviar {
    font-size: 27px;
  }
  .main-inicio .container .caja-texto-inicio .texto-inicio {
    font-size: 40px;
    padding: 40px;
    padding-bottom: 10px;
  }
  .main-inicio .container video {
    width: 90px;
    height: 90px;
  }
  .main-nosotros {
    padding: 3% 0% 4% 0%;
  }
  .main-nosotros h3 {
    font-size: 40px;
    margin-bottom: 3%;
  }
  .main-nosotros .texto-nosotros {
    font-size: 19px;
  }
  .main-promocion .encabezado-promocion .titulo-promocion h3 {
    font-size: 30px;
  }
  .main-promocion .texto-promocion {
    font-size: 18px;
  }
  .main-tutorias .encabezado-curador .titulo-curador h3 {
    font-size: 30px;
  }
  .main-tutorias .texto-curador {
    font-size: 18px;
  }
  .pages-playlists .titulo-playlists h3 {
    font-size: 40px;
  }
  .pages-playlists .titulo-playlists .segui {
    display: flex;
  }
  .pages-playlists .titulo-playlists .segui p {
    font-size: 12px;
  }
  .pages-playlists .titulo-playlists .segui a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
    padding-bottom: 17px;
  }
  .pages-playlists .titulo-playlists .segui a img {
    width: 16px;
    height: 16px;
  }
  .pages-playlists .caja-playlist {
    flex-direction: column;
    margin: 5% 0%;
  }
  .pages-playlists .caja-playlist iframe {
    height: 250px;
    width: 100%;
    border-radius: 0px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 {
    padding-top: 20px;
    margin-left: 0%;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a {
    color: white;
    font-size: 32px;
    font-weight: 400;
    border-radius: 60px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1Px;
    transition: all 0.5s ease;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 22px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a:hover {
    background-color: rgb(23, 139, 23);
    border-color: white;
    text-shadow: 2px 2px 2px black;
  }
  .main-canciones .container .titulo-canciones h3 {
    font-size: 40px;
  }
  .main-contacto .caja-contacto {
    width: 80%;
  }
  .main-contacto .caja-contacto h3 {
    font-size: 40Px;
  }
  .main-contacto .caja-contacto form div label {
    font-size: 20px;
  }
  .main-contacto .caja-contacto form label {
    font-size: 20px;
  }
}
/*############## SMARTPHONE 381 / 575 ####################*/
@media (min-width: 381px) and (max-width: 575px) {
  header nav .contenedor-nav .encabezado .enlace-logo {
    display: flex;
    align-items: baseline;
  }
  header nav .contenedor-nav .encabezado .enlace-logo img {
    width: 50px;
    height: 50px;
  }
  header nav .contenedor-nav .encabezado .titulos h1 {
    margin-bottom: 4px !important;
    font-size: 23px;
  }
  header nav .contenedor-nav .encabezado .titulos .subtitulo h2 {
    font-size: 15px;
  }
  header nav .contenedor-nav .encabezado .titulos .subtitulo .logo-spotify {
    width: 15px;
    height: 15px;
    margin-left: 4px;
    margin-bottom: 8px;
  }
  header nav .contenedor-nav button {
    border: 0px !important;
  }
  header nav .contenedor-nav button svg {
    color: aliceblue;
    width: 40px;
    height: 40px;
  }
  header nav .contenedor-nav #menu ul li .nav-link {
    font-size: 20px;
    margin: 0px !important;
  }
  header nav .contenedor-nav #menu .redes-menu li a .logo-redes-menu {
    width: 23px;
    height: 23px;
    margin: 4px 6px;
  }
  header nav .contenedor-nav .dropdown-item {
    font-size: 18px;
    text-align: center;
  }
  header .boton-sh .boton-enviar {
    color: rgb(218, 216, 216);
    font-size: 25px;
  }
  .main-inicio .container {
    margin: 0px;
  }
  .main-inicio .container .caja-texto-inicio {
    margin: 0px;
  }
  .main-inicio .container .caja-texto-inicio .texto-inicio {
    font-size: 32px;
    padding: 40px;
    padding-bottom: 10px;
  }
  .main-inicio .container video {
    width: 80px;
    height: 80px;
  }
  .main-nosotros {
    padding: 5% 0% 5% 0%;
  }
  .main-nosotros h3 {
    font-size: 30px;
    margin: 5% 0%;
  }
  .main-nosotros .texto-nosotros {
    font-size: 17px;
  }
  .main-promocion .encabezado-promocion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-promocion .encabezado-promocion .titulo-promocion h3 {
    font-size: 35px;
    margin: 30px 0px;
  }
  .main-promocion .encabezado-promocion img {
    width: 100%;
    margin-right: 0px;
  }
  .main-promocion .texto-promocion {
    font-size: 17px;
  }
  .main-tutorias .encabezado-curador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-tutorias .encabezado-curador .titulo-curador h3 {
    font-size: 35px;
  }
  .main-tutorias .encabezado-curador img {
    width: 100%;
    margin-right: 0px;
  }
  .main-tutorias .texto-curador {
    font-size: 17px;
  }
  .pages-playlists {
    padding-top: 100px;
  }
  .pages-playlists .titulo-playlists h3 {
    font-size: 35px;
  }
  .pages-playlists .titulo-playlists .segui {
    display: flex;
  }
  .pages-playlists .titulo-playlists .segui p {
    font-size: 12px;
  }
  .pages-playlists .titulo-playlists .segui a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3px;
    padding-bottom: 17px;
  }
  .pages-playlists .titulo-playlists .segui a img {
    width: 10px;
    height: 10px;
  }
  .pages-playlists .caja-playlist {
    flex-direction: column;
    margin: 2% 0%;
  }
  .pages-playlists .caja-playlist iframe {
    margin-bottom: 50px;
    height: 180px;
    width: 100%;
    border-radius: 5px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 {
    padding-top: 15px;
    margin-top: 15px;
    margin-left: 0%;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li {
    margin-top: 20px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a {
    color: white;
    font-size: 32px;
    font-weight: 400;
    border-radius: 60px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1Px;
    transition: all 0.5s ease;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 18px;
    border: solid 0.5px;
    background-color: rgba(0, 0, 0, 0.455);
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a:hover {
    background-color: rgb(23, 139, 23);
    border-color: white;
    text-shadow: 2px 2px 2px black;
  }
  .main-canciones .container .titulo-canciones h3 {
    font-size: 30px;
  }
  .main-contacto .caja-contacto {
    width: 90%;
  }
  .main-contacto .caja-contacto h3 {
    font-size: 40Px;
  }
  .main-contacto .caja-contacto form div label {
    font-size: 20px;
  }
  .main-contacto .caja-contacto form label {
    font-size: 20px;
  }
  footer .volver-arriba a svg {
    width: 18px;
    height: 18px;
  }
  footer .redes-footer a svg {
    width: 15px;
    margin: 0px 3px;
  }
}
@media (max-width: 380px) {
  header nav .contenedor-nav .encabezado .enlace-logo img {
    width: 40px;
    height: 40px;
  }
  header nav .contenedor-nav .encabezado .titulos h1 {
    margin-bottom: 4px !important;
    font-size: 20px;
  }
  header nav .contenedor-nav .encabezado .titulos .subtitulo h2 {
    font-size: 14px;
  }
  header nav .contenedor-nav .encabezado .titulos .subtitulo .logo-spotify {
    width: 13px;
    height: 13px;
    margin-left: 4px;
    margin-bottom: 6px;
  }
  header nav .contenedor-nav button {
    border: 0px !important;
  }
  header nav .contenedor-nav button svg {
    color: aliceblue;
    width: 35px;
    height: 35px;
  }
  header nav .contenedor-nav #menu ul li .nav-link {
    font-size: 20px;
    margin: 0px !important;
  }
  header nav .contenedor-nav #menu .redes-menu li a .logo-redes-menu {
    width: 23px;
    height: 23px;
    margin: 4px 6px;
  }
  header nav .contenedor-nav .dropdown-item {
    font-size: 18px;
    text-align: center;
  }
  header .boton-sh .boton-enviar {
    font-size: 20px;
  }
  .main-inicio .container {
    margin: 0px;
  }
  .main-inicio .container .caja-texto-inicio {
    margin: 0px;
  }
  .main-inicio .container .caja-texto-inicio .texto-inicio {
    font-size: 28px;
    padding: 40px;
    padding-bottom: 10px;
  }
  .main-inicio .container video {
    width: 70px;
    height: 70px;
  }
  .main-nosotros {
    padding: 5% 0% 5% 0%;
  }
  .main-nosotros h3 {
    font-size: 30px;
    margin: 5% 0%;
  }
  .main-nosotros .texto-nosotros {
    font-size: 17px;
  }
  .main-promocion .encabezado-promocion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-promocion .encabezado-promocion .titulo-promocion h3 {
    font-size: 35px;
  }
  .main-promocion .encabezado-promocion img {
    width: 100%;
    margin-right: 0px;
  }
  .main-promocion .texto-promocion {
    font-size: 17px;
  }
  .main-promocion .texto-promocion .enviar-dos a {
    text-align: center;
    font-size: 1.2rem;
  }
  .main-promocion .texto-promocion .enviar-dos a:hover {
    font-size: 1.2rem;
  }
  .main-tutorias .encabezado-curador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-tutorias .encabezado-curador .titulo-curador h3 {
    font-size: 40px;
  }
  .main-tutorias .encabezado-curador img {
    width: 100%;
    margin-right: 0px;
  }
  .main-tutorias .texto-curador {
    font-size: 17px;
  }
  .pages-playlists {
    padding-top: 80px;
  }
  .pages-playlists .titulo-playlists a img {
    width: 15px;
  }
  .pages-playlists .titulo-playlists h3 {
    font-size: 25px;
  }
  .pages-playlists .titulo-playlists .segui {
    display: flex;
  }
  .pages-playlists .titulo-playlists .segui p {
    font-size: 12px;
  }
  .pages-playlists .titulo-playlists .segui a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3px;
    padding-bottom: 16px;
  }
  .pages-playlists .titulo-playlists .segui a img {
    width: 12px;
    height: 12px;
  }
  .pages-playlists .caja-playlist {
    flex-direction: column;
    margin: 2% 0%;
  }
  .pages-playlists .caja-playlist iframe {
    margin-bottom: 40px;
    height: 180px;
    width: 100%;
    border-radius: 5px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 {
    padding-top: 15px;
    margin-top: 15px;
    margin-left: 0%;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li {
    margin-top: 20px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a {
    color: white;
    font-size: 32px;
    font-weight: 400;
    border-radius: 60px;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1Px;
    transition: all 0.5s ease;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 15px;
    border: solid 0.5px;
  }
  .pages-playlists .caja-playlist .indice-playlist2 ul li a:hover {
    background-color: rgb(23, 139, 23);
    border-color: white;
    text-shadow: 2px 2px 2px black;
  }
  .main-canciones .container .titulo-canciones h3 {
    font-size: 28px;
  }
  .main-contacto .caja-contacto {
    width: 90%;
  }
  .main-contacto .caja-contacto form div label {
    font-size: 18px;
  }
  .main-contacto .caja-contacto form label {
    font-size: 18px;
  }
  footer .volver-arriba a svg {
    width: 18px;
    height: 18px;
  }
  footer .redes-footer a svg {
    width: 15px;
    margin: 0px 3px;
  }
}

/*# sourceMappingURL=destino.css.map */
