
.main-contacto { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/pTHyGDKf/pexels-victor-freitas-1765712.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;   
    .caja-contacto {
        width: 60%;
        padding-bottom: 60px;
        padding-top: 50px;
        form {
            div {
                label {
                    font-size: 27px;
                    font-weight: 300;
                }
                button {
                    margin-top: 20px;
                    background-image: linear-gradient(to top, rgb(240, 78, 20) , rgb(103, 33, 8) 85%);
                    border: none;
                }
            }
            label {
                font-size: 27px;
                font-weight: 300; 
            }
        } 
    }    
}