
.main-contacto { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/wv1dyz7f/young-caucasian-musicians-band-performing-in-neon-light-on-blue-studio.jpg);
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed; 
   
    .caja-contacto {
        width: 60%;
        padding-bottom: 50px;
        padding-top: 50px;
        form {
            div {
                label {
                    font-size: 30px;
                    font-weight: 300;
                }
                button {
                    margin-top: 20px;
                    background-color: orangered;
                    border: none;
                }
            }
            label {
                font-size: 30px;
                font-weight: 300; 
            }
        } 
    }    
}