.restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.418)), url(https://i.postimg.cc/t4S3VStv/pexels-daniel-frese-131925.jpg);
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed; 
}

.surf-vibes {
    background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/T15hzc4t/Design-sem-nome-10.jpg);
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed; 
}

.indie-summer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.507)), url(https://i.postimg.cc/HkH5KG3h/pexels-igor-starkov-769158.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
}

.folk {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/nzLMDVrm/pexels-micah-boerma-1008739.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.rock {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/xCvxSqsH/cheering-crowd-having-fun-music-festival-nightclub.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;    
}

.edm {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/B6NxGjd8/two-young-women-playing-and-enjoying-with-holi-colors.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.pop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/j22KCjsF/pexels-maria-geller-2127021.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
}

.deep-sunset {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/k5Qhb9z7/pexels-pattama-choomsree-111755.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
}

.ryb {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)),  url(https://i.postimg.cc/W1psfhsF/pexels-revac-film-s-photography-233194.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.rap {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/B6qJ9gRs/pexels-wendy-wei-1662570.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
}

.reggaeton-m { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/4NJ7v4Hy/pexels-jae-park-3752205.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
}

.rap-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/4xT1CHd5/pexels-luis-quintero-2091383.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
}

.reggaeton {
    background-image: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.493)), url(https://i.postimg.cc/rFYLQcwM/dancing-people-in-club.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
}
