footer {
    
    height: 170px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;      
    padding-top: 10px;
    padding-bottom: 10px;
    .volver-arriba a {
        transition: all 0.5s ease;       
    }
    .redes-footer {
        display: flex;
        justify-content: space-evenly;
        a {
            margin: 10px;
            .spotify-redes {
                width: 32px;
            }
            .insta-redes {
                width: 34px;
            }
        }
    }
    .navegador-footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content:center;
        margin-top: 5px;
        span a {
            color: rgb(224, 224, 224);
            font-weight: 100;
            font-size: 13px;
            border-left: 1px solid rgb(224, 224, 224);
            padding: 3px 15px; 
            transition: all 0.5s ease;
            &:hover {
                color: rgb(136, 250, 136);
                border-left: 1px solid rgb(136, 250, 136);
            } 
        }  
    }
}




