footer {
    height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;      
    padding-top: 5px;
    padding-bottom: 15px;
    .volver-arriba {
        a {
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
    .redes-footer {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        p {
            font-size: 20px;
            margin: 0;
            padding-right: 5px;
        }
        a {
            img {
                width: 20px;
                margin: 0px 5px;
            }
        }
    }
}




