header {
    nav {
        .contenedor-nav {
            .encabezado {
                display: flex;
                align-items: center;
                .enlace-logo {
                    display: flex;
                    align-items: baseline;
                    img {
                        width: 60px;
                        height:60px;
                        border-radius: 50%;
                        margin-bottom: 5px;
                    }
                }
                .titulos {
                    display: flex;
                    flex-direction: column;
                    h1 {
                        font-weight: 400;
                        color: beige;
                        font-size: 30px;
                    }
                    .subtitulo {
                        display: flex;
                        align-items: center;
                        h2 {
                            color: rgb(223, 219, 219);
                            font-weight: 300;
                            font-size: 20px;  
                        }
                        .logo-spotify {
                            width: 20px; 
                            height: 20px;
                            margin-left: 7px;
                            margin-bottom: 7px;
                            
                        }
                    }
                }
            }
            button {
                border: 0px !important;
                svg {
                    color: aliceblue;
                    width: 50px;
                    height: 50px;
                }
            }
            #menu {
                ul {
                    li {
                        .nav-link {
                            font-weight: 400;
                            font-size: 18px;
                            margin-left: 13px;
                            color: rgb(216, 213, 213) !important;
                            transition: all 0.5s ease;
                            &:hover {
                                color: rgb(243, 118, 73) !important;
                            }
                        }

                    }
                }
                .redes-menu {
                    margin-top: 15px;
                    margin-right: 5px;
                    display: flex;
                    list-style-type: none;
                    li {
                        a {
                            .logo-redes-menu {
                                width: 20px;
                                height: 20px;
                                margin: 2px 3px;
                            }
                        }
                    }
                }
            }

            .dropdown-item {
                color: white; 
                font-size: 22.5px;
                text-align: center;
                border-radius: 100px;
                padding: 3px 10px;
                margin: 10px 0px;               
                transition: all 0.3s ease;
                &:hover {
                    text-shadow: none;
                    background-color: rgb(230, 227, 227);
                    color: black;
                }                
            }
            .dropdown-menu {
                border-left: solid 1px;
                border-right: solid 1px;
                border-radius: 0px;
                padding: 0px 10px;                  
                background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(10, 10, 10) 90%);
                
            }           
        }
    }
    .boton-sh {
        background-image: linear-gradient(to top, rgb(240, 78, 20) , rgb(70, 22, 5) 85%);
        display: flex;
        justify-content: center;
        .boton-enviar {       
            text-align: center;
            width: 100%;
            height: auto;
            padding: 15px 10px 20px 10px;
            text-decoration: none;
            color: rgb(231, 227, 227);
            font-size: 35px;
            transition: all 0.5s ease;
            text-shadow: 1px 1px 1px rgb(0, 0, 0);
            &:hover {
                background-image: linear-gradient(to top, rgb(240, 78, 20) , rgb(70, 22, 5) 95%);
                color: rgb(252, 250, 250);
            }
        }
    }

   
    
}












