@mixin boton-redondeado {
    color: white;
    font-size: 32px;
    font-weight: 400;
    border-radius: 60px;
    padding: 5px 15px; 
    border-style: solid;
    border-width: 1Px;
    transition: all 0.5s ease;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    &:hover {
        background-color: rgb(23, 139, 23);
        border-color: white; 
        text-shadow: 2px 2px 2px black;   
    }              
}
