.main-nosotros {
    margin: 3% 0%;
    h2 {
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 2%;
        color: rgb(224, 224, 224);
        padding-left: 3%;
    } 
    .texto-nosotros {
        text-align: left;
        font-size: 23px;
        p {
            padding-left: 3%;
            padding-right: 10%;
            font-weight: 300;
        }
    }
}




