.main-promocion {
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/59h5HmXb/close-up-of-a-microphone-on-a-concert-stage-with-beautiful-lighting.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;  
    display: flex;
    flex-direction: column;
    .encabezado-promocion {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        .titulo-promocion {           
            h3 {
                color: rgb(233, 229, 229);
                font-weight: 600;
                padding-right: 4%;
                margin: 2% 2% 3% 0%;
                font-size:60px;
                text-shadow: 2px 2px 2px black;
            }       
        }
        img {
            width: 35%;
            height: auto;
            margin-right: 20px;
            border: solid 1px;
        }
    }
    .texto-promocion {   
        display: flex;
        flex-direction: column;
        justify-content: space-between;       
        font-size: 27px;
        text-align: left;      
        p {
            margin-top: 20px;
            font-weight: 300;         
            color: rgb(233, 230, 230);
            text-shadow: 1px 1px 1px rgb(0, 0, 0);
        }
        .enviar-dos {
            margin: 0% 2%;
            display: flex;
            flex-wrap: nowrap;
            justify-content:center;
            align-items: center;
            a {
                margin: 4%;
                padding: 2%;
                color: white;
                font-size: 1.3rem;
                background-image: linear-gradient(to bottom, rgb(240, 78, 20) , rgb(70, 22, 5) 85%);
                border-radius: 5px;
                transition: all 0.3s ease;
                &:hover {
                    font-size: 1.3rem;
                    color: white;
                    background-image: linear-gradient(to bottom, rgb(240, 78, 20) , rgb(70, 22, 5) 95%);
                } 
            }
        }    
    }
}