
    /*############ DESKTOP 993 / 1245 ###############*/

@media (min-width: 993px) and (max-width: 1245px) {  
    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 52px;
                padding: 40px 10%;
                margin: 0px 5%;
            }
        }      
        .texto-playlists {
            h3 {
                
                font-size: 50px;
                margin-top: 20px;
                margin-left: 40px;
                margin-bottom: 20px;
                margin-bottom: 20px;
                
            }       
            p {
                padding-left: 40px;
                padding-right: 40px;           
                font-size: 25px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    font-size: 55px;
                    font-weight: 600;
                    margin: 0px 30px;           
                }
            }
        }
    }

    .main-nosotros {
        h3 {
            font-size: 80px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 25px;
        }
    }
        
    .main-promocion {
        .encabezado-promocion {
            .titulo-promocion {           
                h3 {
                    font-size: 70px;
                    padding-left: 5%;
                }       
            }
        }
        .texto-promocion {       
            font-size: 25px;
            text-align: left;      
        }
    }

    .main-tutorias {
        .encabezado-curador {
            .titulo-curador { 
                h3 {
                    font-size:105px;
                }      
            }
        }
        .texto-curador {
            margin-top: 20px;   
            font-size: 25px;
        }
    }       

    .pages-playlists {
        .titulo-playlists {
            margin-top: 20px;
            padding-left: 20px;
            display: flex;
            justify-content: start;
            align-items:baseline;
            h3 {
                margin-left: 2%;
                font-size: 60px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 16px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }          
        }
        .caja-playlist {
            iframe {
                height: 350px;
                width: 1500px;
            } 
            .indice-playlist2 {      
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 23px; 
                            }  
                    }
                }
            }   
        }
    }

    footer {
        .volver-arriba {
            a {
                img {
                    width: 30px;
                }      
            }
        }
    }
     
}    
    
  
    
    
    
    
    
    
    
    
    /*############# TABLET 768 / 992  ##################*/
    
@media (min-width: 768px) and (max-width: 992px) {
    
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .enlace-logo {
                        img {
                            width:50px;
                            height:50px;
                        }
                    }
                    .titulos {
                        h1 {
                            font-size: 25px;
                        }
                        .subtitulo {
                            h2 {
                                font-size: 17px;  
                            }
                            .logo-spotify {
                                width: 15px; 
                                height: 15px;
                                margin-left: 4px;                               
                            }
                        }
                    }
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 15px;
                                margin: 0px !important;
                            }   
                        }
                    }
                    .redes-menu {                       
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {                   
                    font-size: 17.5px;                   
                }                
            }
        }      
        .boton-sh a {
            font-size: 35px;      
        }
    }

        
    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 48px;
                padding: 40px 8%;
                margin: 0px 5%;
            }
        }      
        .texto-playlists {
            h3 {
                font-size: 40px;
                margin-top: 20px;
                margin-left: 40px;
                margin-bottom: 20px;
                margin-bottom: 20px;
                
            }       
            p {
                padding-left: 40px;
                padding-right: 40px;           
                font-size: 21px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    font-size: 45px;
                    margin: 0px 30px;           
                }
            }
        }
    }
    
    .main-nosotros {
        padding: 2% 0%;
        h3 {
            font-size: 70px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 23px;
        }
    }
        
    .main-promocion {
        .encabezado-promocion {
            .titulo-promocion {           
                h3 {
                    font-size: 60px;
                    padding-left: 5%;
                }       
            }
        }
        .texto-promocion {      
            font-size: 23px;
            text-align: left;      
        }
    }

    .main-tutorias {
        .encabezado-curador {
            .titulo-curador { 
                h3 {
                    font-size: 82px;
                }      
            }
        }
        .texto-curador {  
            font-size: 23px;
        }
    }       
    
    .pages-playlists {
        .titulo-playlists {
            padding-left: 20px;
            display: flex;
            justify-content: start;
            align-items:baseline;
            h3 {
                margin-left: 1.5%;
                font-size: 43px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 16px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }          
        }
        .caja-playlist {
            iframe {
                height: 350px;
                width: 1500px;
            } 
            .indice-playlist2 {      
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 20px; 
                            }  
                    }
                }
            }   
        }
    }

    .main-contacto { 
        .caja-contacto {
            width: 80%;
            h3 {
                font-size: 40Px;
            }
            form {
                div {
                    label {
                        font-size: 25px;
                    }
                }
                label {
                    font-size: 25px;
                }
            } 
        }    
    }

    footer {
        .volver-arriba {
            a {
                img {
                    width: 20px;
                }      
            }
        }
    }
}

    
    
    
    
    
    
    
    
    /*####################### TABLET 576 / 767 #######################*/
    
@media (min-width: 576px) and (max-width: 767px) {
    
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .titulos {
                        h1 {
                            margin-bottom: 6px !important;
                            font-size: 25px;
                        }
                        .subtitulo {
                            .logo-spotify {
                                margin-bottom: 8px;                                
                            }
                        }
                    }
                }
                button {
                    svg {
                        width: 45px;
                        height: 45px;
                    }    
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 17px;
                                margin: 0px !important;
                            }   
                        }
                    }
                    .redes-menu {
                        margin-top: 20px;                       
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {
                    font-size: 20px;
                    text-align: left;
                    border-radius: 60px;              
                }                
            }
        }
            .boton-sh {
            .boton-enviar {
                font-size: 27px;
            }
        }
    }

    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 40px;
                padding: 30px 8%;
                margin: 0px 5%;
            }
        }      
        .texto-playlists {
            h3 {
                font-size: 30px;
                margin-top: 20px;
                margin-left: 40px;
                margin-bottom: 20px;
                margin-bottom: 20px;
                
            }       
            p {
                padding-left: 40px;
                padding-right: 40px;           
                font-size: 18px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    text-align: center;
                    font-size: 40px;
                    font-weight: 600;
                    margin: 0px 20px;           
                }
            }
            .caja-canciones {
                padding: 0px 20px;    
                iframe {
                    margin: 10px 10px;
                    width: 80px;
                    height: 80px;
                }   
            }
        }      
    }
    
    .main-nosotros {
        padding: 3% 0% 4% 0%;
        h3 {
            font-size: 50px;
            margin-bottom: 3%;
            margin-left: 20px;
        } 
        .texto-nosotros {
            font-size: 21px;
            margin-left: 20px;
    
        }
    }
    .main-promocion {
        .encabezado-promocion {
            .titulo-promocion {           
                h3 {
                    font-size: 43px;
                    padding-left: 5%;
                }      
            }
        }
        .texto-promocion {      
            font-size: 20px;
            text-align: left; 
            p {
                margin-left: 20px;
            }     
        }
    }

    .main-tutorias {
        .encabezado-curador {
            .titulo-curador { 
                h3 {
                    font-size: 60px;
                }      
            }
        }
        .texto-curador {  
            font-size: 23px;
        }
    }       
   
    .pages-playlists {
        .titulo-playlists {
            a {
                img {
                    width: 20px;
                }
            }
            margin-top: 20px;
            padding-left: 20px;
            display: flex;
            justify-content: start;
            align-items:baseline;
            h3 {
                margin-left: 1.5%;
                font-size: 31px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 12px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    padding-bottom: 17px;
                    img {
                        width: 16px;
                        height: 16px;
                        
                    }
                }
            }          
        }
        .caja-playlist {
            flex-direction: column;
            margin: 5% 0%;
            iframe {
                height: 250px;
                width: 80%;
                border-radius: 0px;
            } 
            .indice-playlist2 {
                padding-top: 20px; 
                margin-left: 0%;     
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 22px; 
                            }  
                    }
                }
            }   
        }
    }
        
    .main-contacto { 
        .caja-contacto {
            width: 80%;
            h3 {
                font-size: 40Px;
            }
            form {
                div {
                    label {
                        font-size: 20px;
                    }
                }
                label {
                    font-size: 20px;
                }
            } 
        }    
    }
            
    footer {
        padding-bottom: 5px;
        .volver-arriba {
            a {
                img {
                    width: 15px;
                }      
            }
        }
        .navegador-footer {
            span {
                a {
                    font-size: 14px;
                    padding: 0px 10px;
                }   
            }
        }
    } 
}
    
    

    
    
    
    
    
    
    
    
    
    /*############## SMARTPHONE 381 / 575 ####################*/
@media (min-width: 381px) and (max-width: 575px) {
        
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .enlace-logo {
                        display: flex;
                        align-items: baseline;
                        img {
                            width:50px;
                            height:50px;
                        }
                    }
                    .titulos {
                        
                        h1 {
                            margin-bottom: 4px !important;
                            font-size: 23px;
                        }
                        .subtitulo {
                            h2 {
                                font-size: 15px;  
                            }
                            .logo-spotify {
                                width: 15px; 
                                height: 15px;
                                margin-left: 4px;
                                margin-bottom: 8px;                                
                            }
                        }
                    }
                }
                button {
                    border: 0px !important;
                    svg {
                        color: aliceblue;
                        width: 40px;
                        height: 40px;
                    }    
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 17px;
                                margin: 0px !important;                               
                            }   
                        }
                    }
                    .redes-menu {                     
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 23px;
                                    height: 23px;
                                    margin: 4px 6px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {
                    font-size: 20px;
                    text-align: left;            
                }             
            }
        }
        .boton-sh {
            .boton-enviar {          
                color: rgb(218, 216, 216);
                font-size: 25px;
            }
        }
    
        
        
    }

    
    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 33px;
                padding: 40px 5%;
                margin: 0px 4%;
            }
        }      
        .texto-playlists {
            padding-top: 20px;
            padding-bottom: 20px;
            h3 {
                font-size: 28px;
                margin-top: 20px;
                margin-left: 20px;
                margin-bottom: 20px;
                margin-right: 40px;  
            }       
            p {
                padding-left: 20px;
                padding-right: 40px;           
                font-size: 18px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    text-align: center;
                    font-size:35px;
                    font-weight: 600;
                    margin: 0px 10px;           
                }
            }
            .caja-canciones {
                padding: 0px 20px;    
                iframe {
                    margin: 10px 5px;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: solid 1px;
                }   
            }
        }      
    }

    .main-nosotros {
        padding: 5% 0% 5% 0%;
        h3 {
            margin-left: 20px;
            font-size: 45px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 18px;
            margin-left: 20px;
        }
    }
    .main-promocion {
        .encabezado-promocion {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titulo-promocion {           
                h3 {
                    font-size: 40px;
                    padding-left: 5%;
                }
            }
            img {
                width: 90%;
                margin-right: 0px;
            }      
        }
        .texto-promocion {      
            font-size: 20px;
            text-align: left; 
            p {
                margin-left: 15px;
            }     
        }
    }

    .main-tutorias {
        .encabezado-curador {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titulo-curador { 
                h3 {
                    font-size: 50px;
                }      
            }
            img {
                width: 90%;
                margin-right: 0px;
            }    
        }
        .texto-curador {  
            font-size: 20px;
            p {
                margin-left: 15px;
            }
        }
    }       
   
    .pages-playlists {
        padding-top: 100px;
        .titulo-playlists {
            margin-bottom: 10px;
            padding-left: 10px;
            display: flex;
            justify-content: center;
            align-items:baseline;
            h3 {
                font-weight: 400;
                font-size: 22px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 10px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 3px;
                    padding-bottom: 17px;
                    img {
                        width: 10px;
                        height: 10px;
                    }
                }
            }          
        }
        .caja-playlist {
            flex-direction: column;
            margin: 2% 0%;
            iframe {
                margin-bottom: 50px;             
                height: 180px;
                width: 90%;
                border-radius:5px;
                
            } 
            .indice-playlist2 {
                padding-top: 15px;
                margin-top: 15px;      
                ul {
                    li {
                        margin-top: 20px;
                        a { 
                        @include boton-redondeado;
                        font-size: 20px; 
                        border:solid 0.5px;
                        }  
                    }
                }
            }   
        }
    }

    .main-contacto { 
        .caja-contacto {
            width: 90%;
            h3 {
                font-size: 40Px;
            }
            form {
                div {
                    label {
                        font-size: 20px;
                    }
                }
                label {
                    font-size: 20px;
                }
            } 
        }    
    }

    footer {
        padding-bottom: 5px;
        .volver-arriba {
            a {
                img {
                    width: 15px;
                }      
            }
        }
        .navegador-footer {
            margin-top: 0px;
            span {
                a {
                    font-size: 13px;
                    padding: 0px 7px;
                }   
            }
        }
    }   
} 








//##############################################################
@media (max-width: 380px) {
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .enlace-logo {
                        img {
                            width:40px;
                            height:40px;
                        }
                    }
                    .titulos {
                        
                        h1 {
                            margin-bottom: 4px !important;
                            font-size: 20px;
                        }
                        .subtitulo {
                            h2 {
                                font-size: 14px;  
                            }
                            .logo-spotify {
                                width: 13px; 
                                height: 13px;
                                margin-left: 4px;
                                margin-bottom: 6px;                                
                            }
                        }
                    }
                }
                button {
                    border: 0px !important;
                    svg {
                        color: aliceblue;
                        width: 35px;
                        height: 35px;
                    }    
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 17px;
                                margin: 0px !important;                               
                            }   
                        }
                    }
                    .redes-menu {                     
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 23px;
                                    height: 23px;
                                    margin: 4px 6px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {
                    font-size: 18px;
                    text-align: left;            
                }             
            }
        }
        .boton-sh {
            .boton-enviar {          
                font-size: 20px;
            }
        }
    
        
        
    }

    
    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 31px;
                padding: 40px 4%;
                margin: 0px 3%;
            }
        }      
        .texto-playlists {
            padding-top: 20px;
            padding-bottom: 20px;
            h3 {
                font-size: 30px;
                margin-top: 20px;
                margin-left: 20px;
                margin-bottom: 20px;
                margin-right: 40px;  
            }       
            p {
                padding-left: 20px;
                padding-right: 40px;           
                font-size: 17px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    text-align: center;
                    font-size:31px;
                    font-weight: 600;
                    margin: 0px 5px;           
                }
            }
            .caja-canciones {
                padding: 0px 20px;    
                iframe {
                    margin: 10px 3px;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: solid 1px;
                }   
            }
        }      
    }

    .main-nosotros {
        padding: 5% 0% 5% 0%;
        h3 {
            margin-left: 15px;
            font-size: 40px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 17px;
            margin-left: 15px;
        }
    }
    .main-promocion {
        .encabezado-promocion {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titulo-promocion {           
                h3 {
                    font-size: 35px;
                    padding-left: 5%;
                }
            }
            img {
                width: 90%;
                margin-right: 0px;
            }      
        }
        .texto-promocion {      
            font-size: 17px;
            text-align: left; 
            p {
                margin-left: 15px;
            }
            .enviar-dos {
                a {
                    text-align: center;
                    font-size: 1.2rem;
                    &:hover {
                        font-size: 1.2rem;                     
                    } 
                }
            }      
        }
    }

    .main-tutorias {
        .encabezado-curador {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titulo-curador { 
                h3 {
                    font-size: 40px;
                }      
            }
            img {
                width: 90%;
                margin-right: 0px;
            }    
        }
        .texto-curador {  
            font-size: 17px;
            p {
                margin-left: 15px;
            }
        }
    }       
   
    .pages-playlists {
        padding-top: 80px;
        .titulo-playlists {
            a {
                img {
                    width: 15px;
                }
            } 
            margin-bottom: 10px;
            padding-left: 10px;
            display: flex;
            justify-content: center;
            align-items:baseline;
            h3 {
                font-weight: 400;
                font-size: 22px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 10px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 3px;
                    padding-bottom: 17px;
                    img {
                        width: 10px;
                        height: 10px;
                    }
                }
            }          
        }
        .caja-playlist {
            flex-direction: column;
            margin: 2% 0%;
            iframe {
                margin-bottom: 40px;             
                height: 180px;
                width: 90%;
                border-radius:5px;
                
            } 
            .indice-playlist2 {
                padding-top: 15px;
                margin-top: 15px;      
                ul {
                    li {
                        margin-top: 20px;
                        a { 
                        @include boton-redondeado;
                        font-size: 17px; 
                        border:solid 0.5px;
                        }  
                    }
                }
            }   
        }
    }

    .main-contacto { 
        .caja-contacto {
            width: 90%;
            form {
                div {
                    label {
                        font-size: 18px;
                    }
                }
                label {
                    font-size: 18px;
                }
            } 
        }    
    }

    footer {
        padding-bottom: 5px;
        .volver-arriba {
            a {
                img {
                    width: 15px;
                }      
            }
        }
        .navegador-footer {
            margin-top: 0px;
            span {
                a {
                    font-size: 13px;
                    padding: 0px 7px;
                }   
            }
        }
    }   
}
