
    /*############ DESKTOP 993 / 1245 ###############*/

@media (min-width: 993px) and (max-width: 1245px) {  
    .main-inicio {
        .container {
            .caja-texto-inicio {
                .texto-inicio {
                    font-size: 55px;
                    padding: 40px;
                    padding-bottom: 10px;
                }
            }
            video {
                width: 110px;
                height: 110px;
            }
        }       
    }
    .main-nosotros {
        h3 {
            font-size: 60px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 24px;
        }
    }    
    .main-promocion {
        .encabezado-promocion {
            .titulo-promocion {           
                h3 {
                    font-size: 50px;
                    padding-left: 5%;
                }       
            }
        }
        .texto-promocion {       
            font-size: 25px;    
        }
    }
    .main-tutorias {
        .encabezado-curador {
            .titulo-curador { 
                h3 {
                    font-size:50px;
                }      
            }
        }
        .texto-curador {
            margin-top: 20px;   
            font-size: 25px;
        }
    }       
    .pages-playlists {
        .titulo-playlists {    
            h3 {
                font-size: 60px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 16px;                  
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }          
        }
        .caja-playlist {
            iframe {
                height: 350px;
                width: 1500px;
            } 
            .indice-playlist2 {      
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 23px; 
                            }  
                    }
                }
            }   
        }
    }
    .main-canciones{
        .container { 
            .titulo-canciones {
                h3 {
                    font-size: 50px;           
                }
            }
        }
    }    
}    
    
  
    
    
    
    
    
    
    
    
    /*############# TABLET 768 / 992  ##################*/
    
@media (min-width: 768px) and (max-width: 992px) {  
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .enlace-logo {
                        img {
                            width:50px;
                            height:50px;
                        }
                    }
                    .titulos {
                        h1 {
                            font-size: 23px;
                        }
                        .subtitulo {
                            h2 {
                                font-size: 15px;  
                            }
                            .logo-spotify {
                                width: 15px; 
                                height: 15px;
                                margin-left: 4px;                               
                            }
                        }
                    }
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                margin-left: 3px;
                                font-size: 13px;
                                margin: 0px !important;
                            }   
                        }
                    }
                    .redes-menu {                       
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {                   
                    font-size: 12px;                   
                }                
            }
        }      
        .boton-sh a {
            font-size: 35px;      
        }
    }    
    .main-inicio {
        .container {
            .caja-texto-inicio {
                .texto-inicio {
                    font-size: 50px;
                    padding: 40px;
                    padding-bottom: 10px;
                }
            }
            video {
                width: 100px;
                height: 100px;
            }
        }       
    }   
    .main-nosotros {
        padding: 2% 0%;
        h3 {
            font-size: 50px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 21px;
        }
    }    
    .main-promocion {
        .encabezado-promocion {
            .titulo-promocion {           
                h3 {
                    font-size: 40px;
                }       
            }
        }
        .texto-promocion {      
            font-size: 20px;         
        }
    }

    .main-tutorias {
        .encabezado-curador {
            .titulo-curador { 
                h3 {
                    font-size: 40px;
                }      
            }
        }
        .texto-curador {  
            font-size: 20px;
        }
    }       
    .pages-playlists {
        .titulo-playlists {
            h3 {
                font-size: 50px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 16px;
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }          
        }
        .caja-playlist {
            iframe {
                height: 350px;
                width: 600px;
            } 
            .indice-playlist2 {      
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 17px; 
                            }  
                    }
                }
            }   
        }
    }

    .main-canciones{
        .container { 
            .titulo-canciones {
                h3 {
                    font-size: 45px;           
                }
            }
        }
    }

    .main-contacto { 
        .caja-contacto {
            width: 80%;
            h3 {
                font-size: 40Px;
            }
            form {
                div {
                    label {
                        font-size: 25px;
                    }
                }
                label {
                    font-size: 25px;
                }
            } 
        }    
    }
}

    
    
    
    
    
    
    
    
    /*####################### TABLET 576 / 767 #######################*/
    
@media (min-width: 576px) and (max-width: 767px) {
    
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .titulos {
                        h1 {
                            margin-bottom: 6px !important;
                            font-size: 25px;
                        }
                        .subtitulo {
                            .logo-spotify {
                                margin-bottom: 8px;                                
                            }
                        }
                    }
                }
                button {
                    svg {
                        width: 45px;
                        height: 45px;
                    }    
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 20px;
                                margin: 0px !important;
                            }   
                        }
                    }
                    .redes-menu {
                        margin-top: 20px;                       
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {
                    font-size: 18px;
                    text-align: center;
                    border-radius: 60px;              
                }                
            }
        }
            .boton-sh {
                .boton-enviar {
                    font-size: 27px;
                }
        }
    }
    .main-inicio {
        .container {
            .caja-texto-inicio {
                .texto-inicio {
                    font-size: 40px;
                    padding: 40px;
                    padding-bottom: 10px;
                }
            }
            video {
                width: 90px;
                height: 90px;
            }
        }       
    }   
    .main-nosotros {
        padding: 3% 0% 4% 0%;
        h3 {
            font-size: 40px;
            margin-bottom: 3%;
        } 
        .texto-nosotros {
            font-size: 19px;
        }
    }
    .main-promocion {
        .encabezado-promocion {
            .titulo-promocion {           
                h3 {
                    font-size: 30px;                    
                }      
            }
        }
        .texto-promocion {      
            font-size: 18px;   
        }
    }
    .main-tutorias {
        .encabezado-curador {
            .titulo-curador { 
                h3 {
                    font-size: 30px;
                }      
            }
        }
        .texto-curador {  
            font-size: 18px;
        }
    }         
    .pages-playlists {
        .titulo-playlists {
            h3 {
                font-size: 40px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 12px;
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    padding-bottom: 17px;
                    img {
                        width: 16px;
                        height: 16px;                       
                    }
                }
            }          
        }
        .caja-playlist {
            flex-direction: column;
            margin: 5% 0%;
            iframe {
                height: 250px;
                width: 100%;
                border-radius: 0px;
            } 
            .indice-playlist2 {
                padding-top: 20px; 
                margin-left: 0%;     
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 22px; 
                            }  
                    }
                }
            }   
        }
    }
    .main-canciones{
        .container { 
            .titulo-canciones {
                h3 {
                    font-size: 40px;           
                }
            }
        }
    }       
    .main-contacto { 
        .caja-contacto {
            width: 80%;
            h3 {
                font-size: 40Px;
            }
            form {
                div {
                    label {
                        font-size: 20px;
                    }
                }
                label {
                    font-size: 20px;
                }
            } 
        }    
    }            
}
    
    

    
    
    
    
    
    
    
    
    
    /*############## SMARTPHONE 381 / 575 ####################*/
@media (min-width: 381px) and (max-width: 575px) {      
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .enlace-logo {
                        display: flex;
                        align-items: baseline;
                        img {
                            width:50px;
                            height:50px;
                        }
                    }
                    .titulos {
                        
                        h1 {
                            margin-bottom: 4px !important;
                            font-size: 23px;
                        }
                        .subtitulo {
                            h2 {
                                font-size: 15px;  
                            }
                            .logo-spotify {
                                width: 15px; 
                                height: 15px;
                                margin-left: 4px;
                                margin-bottom: 8px;                                
                            }
                        }
                    }
                }
                button {
                    border: 0px !important;
                    svg {
                        color: aliceblue;
                        width: 40px;
                        height: 40px;
                    }    
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 20px;
                                margin: 0px !important;                               
                            }   
                        }
                    }
                    .redes-menu {                     
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 23px;
                                    height: 23px;
                                    margin: 4px 6px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {
                    font-size: 18px;
                    text-align: center;            
                }             
            }
        }
        .boton-sh {
            .boton-enviar {          
                color: rgb(218, 216, 216);
                font-size: 25px;
            }
        }   
    }
    .main-inicio {
        .container {
            margin: 0px;
            .caja-texto-inicio {
                margin: 0px;
                .texto-inicio {
                    font-size: 28px;
                    padding: 40px;
                    padding-bottom: 10px;
                }
            }
            video {
                width: 80px;
                height: 80px;
            }
        }       
    }
    .main-nosotros {
        padding: 5% 0% 5% 0%;
        h3 {
            font-size: 30px;
            margin: 5% 0%;
        } 
        .texto-nosotros {
            font-size: 17px;        
        }
    }
    .main-promocion {
        .encabezado-promocion {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titulo-promocion {           
                h3 {
                    font-size: 35px;
                    margin: 30px 0px;
                }
            }
            img {
                width: 100%;
                margin-right: 0px;
            }      
        }
        .texto-promocion {      
            font-size: 17px;          
        }
    }
    .main-tutorias {
        .encabezado-curador {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titulo-curador { 
                h3 {
                    font-size: 35px;
                }      
            }
            img {
                width: 100%;
                margin-right: 0px;
            }    
        }
        .texto-curador {  
            font-size: 17px; 
        }
    }       
   
    .pages-playlists {
        padding-top: 100px;
        .titulo-playlists { 
            h3 {
                font-size: 35px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 12px;
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 3px;
                    padding-bottom: 17px;
                    img {
                        width: 10px;
                        height: 10px;
                    }
                }
            }          
        }
        .caja-playlist {
            flex-direction: column;
            margin: 2% 0%;
            iframe {
                margin-bottom: 50px;             
                height: 180px;
                width: 100%;
                border-radius:5px;               
            } 
            .indice-playlist2 {
                padding-top: 15px;
                margin-top: 15px; 
                margin-left: 0%;      
                ul {
                    li {
                        margin-top: 20px;
                        a { 
                            @include boton-redondeado;
                            font-size: 18px; 
                            border:solid 0.5px;
                            background-color: rgba(0, 0, 0, 0.455);
                        }  
                    }
                }
            }   
        }
    }
    .main-canciones{
        .container { 
            .titulo-canciones {
                h3 {
                    font-size: 30px;           
                }
            }
        }
    }
    .main-contacto { 
        .caja-contacto {
            width: 90%;
            h3 {
                font-size: 40Px;
            }
            form {
                div {
                    label {
                        font-size: 20px;
                    }
                }
                label {
                    font-size: 20px;
                }
            } 
        }    
    }
    footer {
        height: 65px;
        .volver-arriba {
            a {
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
        .redes-footer {
            a {
                svg{
                    width: 15px;
                    margin: 0px 3px;
                }
            }
        }       
    }   
} 








//##############################################################
@media (max-width: 380px) {
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .enlace-logo {
                        img {
                            width:40px;
                            height:40px;
                        }
                    }
                    .titulos {
                        
                        h1 {
                            margin-bottom: 4px !important;
                            font-size: 20px;
                        }
                        .subtitulo {
                            h2 {
                                font-size: 14px;  
                            }
                            .logo-spotify {
                                width: 13px; 
                                height: 13px;
                                margin-left: 4px;
                                margin-bottom: 6px;                                
                            }
                        }
                    }
                }
                button {
                    border: 0px !important;
                    svg {
                        color: aliceblue;
                        width: 35px;
                        height: 35px;
                    }    
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 20px;
                                margin: 0px !important;                               
                            }   
                        }
                    }
                    .redes-menu {                     
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 23px;
                                    height: 23px;
                                    margin: 4px 6px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {
                    font-size: 18px;
                    text-align: center;            
                }             
            }
        }
        .boton-sh {
            .boton-enviar {          
                font-size: 20px;
            }
        }       
    }   
    .main-inicio {
        .container {
            margin: 0px;
            .caja-texto-inicio {
                margin: 0px;
                .texto-inicio {
                    font-size: 25px;
                    padding: 40px;
                    padding-bottom: 10px;
                }
            }
            video {
                width: 70px;
                height: 70px;
            }
        }       
    }
    .main-nosotros {
        padding: 5% 0% 5% 0%;
        h3 {
            font-size: 30px;
            margin: 5% 0%;
        } 
        .texto-nosotros {
            font-size: 17px;        
        }
    }
    .main-promocion {
        .encabezado-promocion {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titulo-promocion {           
                h3 {
                    font-size: 35px;
                }
            }
            img {
                width: 100%;
                margin-right: 0px;
            }      
        }
        .texto-promocion {      
            font-size: 17px; 
            .enviar-dos {
                a {
                    text-align: center;
                    font-size: 1.2rem;
                    &:hover {
                        font-size: 1.2rem;                     
                    } 
                }
            }      
        }
    }
    .main-tutorias {
        .encabezado-curador {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titulo-curador { 
                h3 {
                    font-size: 40px;
                }      
            }
            img {
                width: 100%;
                margin-right: 0px;
            }    
        }
        .texto-curador {  
            font-size: 17px;
        }
    }       
    .pages-playlists {
        padding-top: 80px;
        .titulo-playlists {
            a {
                img {
                    width: 15px;
                }
            } 
            h3 {
                font-size: 25px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 12px;                   
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 3px;
                    padding-bottom: 16px;
                    img {
                        width: 12px;
                        height: 12px;
                    }
                }
            }          
        }
        .caja-playlist {
            flex-direction: column;
            margin: 2% 0%;
            iframe {
                margin-bottom: 40px;             
                height: 180px;
                width: 100%;
                border-radius:5px;              
            } 
            .indice-playlist2 {
                padding-top: 15px;
                margin-top: 15px;
                margin-left: 0%;       
                ul {
                    li {
                        margin-top: 20px;
                        a { 
                            @include boton-redondeado;
                            font-size: 15px; 
                            border:solid 0.5px;
                        }  
                    }
                }
            }   
        }
    }
    .main-canciones{
        .container { 
            .titulo-canciones {
                h3 {
                    font-size: 28px;           
                }
            }
        }
    }
    .main-contacto { 
        .caja-contacto {
            width: 90%;
            form {
                div {
                    label {
                        font-size: 18px;
                    }
                }
                label {
                    font-size: 18px;
                }
            } 
        }    
    }
    footer {
        height: 65px;
        .volver-arriba {
            a {
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
        .redes-footer {
            a {
                svg{
                    width: 15px;
                    margin: 0px 3px;
                }
            }
        }      
    }   
}
