
    /*############ DESKTOP 993 / 1245 ###############*/

@media (min-width: 993px) and (max-width: 1245px) {  
    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 50px;
                padding: 40px 10%;
                margin: 0px 5%;
            }
        }      
        .texto-playlists {
            h3 {
                
                font-size: 50px;
                margin-top: 20px;
                margin-left: 40px;
                margin-bottom: 20px;
                margin-bottom: 20px;
                
            }       
            p {
                padding-left: 40px;
                padding-right: 40px;           
                font-size: 25px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    font-size: 55px;
                    font-weight: 600;
                    margin: 0px 30px;           
                }
            }
        }
    }

    .main-nosotros {
        padding: 3% 0%;
        h3 {
            font-size: 70px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 25px;
            margin-left: 40px;
            margin-right: 10%;
        }
    }
        
    .main-servicios {
        .encabezado-promocion {
            .titulo-promocion {
                font-size:55px !important;
                margin-bottom: 2%;     
            }
        }
        .texto-promocion {    
            font-size: 20px;
            text-align: left;       
        }
        .encabezado-curador {
            .titulo-curador {
                font-size: 45px;
                margin: 2% 0% 1% 0%;     
            }
        }
        .texto-curador {
            margin-top: 20px;
            font-size: 20px;
        }       
    }

    .main-playlist {
        h3{
            font-size: 50px;   
        }
        
        .texto-playlists {   
            p {
                font-size: 20px;
                padding-right: 8%;
                padding-left: 2%;       
            } 
        }
         
        .indice-playlist { 
            ul {
                li { 
                    .boton-verde {
                        @include boton-redondeado;
                        font-size: 28px;   
                    }
                }
            }
        }
                    
    }

    .pages-playlists {
        .titulo-playlists {
            margin-top: 20px;
            padding-left: 20px;
            display: flex;
            justify-content: start;
            align-items:baseline;
            h3 {
                margin-left: 2%;
                font-weight: 300;
                font-size: 50px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 16px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }          
        }
        .caja-playlist {
            iframe {
                height: 350px;
                width: 1500px;
            } 
            .indice-playlist2 {      
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 23px; 
                            }  
                    }
                }
            }   
        }
    }

    footer {
        .volver-arriba {
            a {
                img {
                    width: 30px;
                }      
            }
        }
    }
     
}    
    
  
    
    
    
    
    
    
    
    
    /*############# TABLET 768 / 992  ##################*/
    
@media (min-width: 768px) and (max-width: 992px) {
    
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .enlace-logo {
                        img {
                            width:50px;
                            height:50px;
                        }
                    }
                    .titulos {
                        h1 {
                            font-size: 25px;
                        }
                        .subtitulo {
                            h2 {
                                font-size: 17px;  
                            }
                            .logo-spotify {
                                width: 15px; 
                                height: 15px;
                                margin-left: 4px;                               
                            }
                        }
                    }
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 15px;
                                margin: 0px !important;
                            }   
                        }
                    }
                    .redes-menu {                       
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {                   
                    font-size: 17.5px;                   
                }                
            }
        }      
        .boton-sh a {
            font-size: 35px;      
        }
    }

        
    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 45px;
                padding: 40px 8%;
                margin: 0px 5%;
            }
        }      
        .texto-playlists {
            h3 {
                font-size: 40px;
                margin-top: 20px;
                margin-left: 40px;
                margin-bottom: 20px;
                margin-bottom: 20px;
                
            }       
            p {
                padding-left: 40px;
                padding-right: 40px;           
                font-size: 21px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    font-size: 45px;
                    font-weight: 600;
                    margin: 0px 30px;           
                }
            }
        }
    }
    
    .main-nosotros {
        padding: 3% 0%;
        h3 {
            font-size: 60px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 23px;
            margin-left: 40px;
            margin-right: 10%;
        }
    }
        
    .main-servicios {
        .encabezado-promocion {
            .titulo-promocion {
                font-size:35px;
                margin-bottom: 2%;     
            }
        }
        .texto-promocion {    
            font-size: 17px;
            text-align: left;        
        }
        .encabezado-curador {
            .titulo-curador {
                font-size: 35px;
                margin: 2% 0% 1% 0%;     
            }
        }
        .texto-curador {
            margin-top: 20px;
            font-size: 17px;
        }       
    }
    .main-contacto {
        h3 {
            font-size: 30px;
        }   
    }
    .main-playlist {
        h3 {
            font-size:40px;   
        }
        
        .texto-playlists {   
            p {
                font-size: 17px;
                padding-right: 8%;
                padding-left: 2%;       
            } 
        }
         
        .indice-playlist { 
            ul {
                li { 
                    .boton-verde {
                        @include boton-redondeado;
                        font-size: 28px;   
                    }
                }
            }
        }
                    
    }

    .pages-playlists {
        .titulo-playlists {
            margin-top: 20px;
            padding-left: 20px;
            display: flex;
            justify-content: start;
            align-items:baseline;
            h3 {
                margin-left: 1.5%;
                font-weight: 300;
                font-size: 40px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 16px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }          
        }
        .caja-playlist {
            iframe {
                height: 350px;
                width: 1500px;
            } 
            .indice-playlist2 {      
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 20px; 
                            }  
                    }
                }
            }   
        }
    }

    footer {
        .volver-arriba {
            a {
                img {
                    width: 20px;
                }      
            }
        }
    }
}

    
    
    
    
    
    
    
    
    /*####################### TABLET 481 / 767 #######################*/
    
@media (min-width: 481px) and (max-width: 767px) {
    
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    .titulos {
                        h1 {
                            margin-bottom: 6px !important;
                            font-size: 25px;
                        }
                        .subtitulo {
                            .logo-spotify {
                                margin-bottom: 8px;                                
                            }
                        }
                    }
                }
                button {
                    svg {
                        width: 45px;
                        height: 45px;
                    }    
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-size: 17px;
                                margin: 0px !important;
                            }   
                        }
                    }
                    .redes-menu {
                        margin-top: 20px;                       
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {
                    font-size: 20px;
                    text-align: left;
                    border-radius: 60px;              
                }                
            }
        }
        .boton-sh a {
            font-size: 35px;
        }
    }

    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 35px;
                padding: 40px 8%;
                margin: 0px 5%;
            }
        }      
        .texto-playlists {
            h3 {
                font-size: 30px;
                margin-top: 20px;
                margin-left: 40px;
                margin-bottom: 20px;
                margin-bottom: 20px;
                
            }       
            p {
                padding-left: 40px;
                padding-right: 40px;           
                font-size: 18px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    text-align: center;
                    font-size: 40px;
                    font-weight: 600;
                    margin: 0px 20px;           
                }
            }
            .caja-canciones {
                padding: 0px 20px;    
                iframe {
                    margin: 10px 10px;
                    width: 80px;
                    height: 80px;
                }   
            }
        }      
    }
    
    .main-nosotros {
        padding: 8% 0% 4% 0%;
        h3 {
            font-size: 50px;
            margin-bottom: 2%;
            margin-left: 30px;
        } 
        .texto-nosotros {
            font-size: 21px;
            margin-left: 30px;
            margin-right: 10%;
        }
    }
    .main-servicios {
        .encabezado-promocion {
            .titulo-promocion {
                font-size: 22px;
                margin-bottom: 2%;     
            }
            img {
                width: 45%;
            }
        }
        .texto-promocion { 
            margin-top: 15px;   
            font-size: 18px;
            text-align: left;       
        }
        .enviar-dos {
            margin: 3% 5%;
            a {
                margin: 4%;
                padding: 2%;
                color: white;
                font-size: 1.1rem;
                
            }
        }
        .encabezado-curador {
            .titulo-curador {
                font-size: 22px;
                margin: 2% 0% 1% 0%;     
            }
            img {
                width: 45%;
            }
        }
        .texto-curador {
            margin-top: 15px;
            font-size: 18px;
        }       
    }
    .main-playlist {
        h3{
            font-size:40px;
            padding: 4% 3% 2% 3%;    
        }
        
        .texto-playlists {   
            p {
                font-size: 18px;
                padding-right: 8%;
                padding-left: 3%;       
            } 
        }
         
        .indice-playlist { 
            ul {
                li { 
                    .boton-verde {
                        @include boton-redondeado;
                        font-size: 25px;   
                    }
                }
            }
        }
                    
    }

    .pages-playlists {
        .titulo-playlists {
            a {
                img {
                    width: 20px;
                }
            }
            margin-top: 20px;
            padding-left: 20px;
            display: flex;
            justify-content: start;
            align-items:baseline;
            h3 {
                margin-left: 1.5%;
                font-weight: 300;
                font-size: 23px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 12px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 5px;
                    padding-bottom: 17px;
                    img {
                        width: 16px;
                        height: 16px;
                        
                    }
                }
            }          
        }
        .caja-playlist {
            flex-direction: column;
            margin: 5% 0%;
            iframe {
                height: 400px;
                width: 80%;
                border-radius: 0px;
            } 
            .indice-playlist2 {
                padding-top: 20px; 
                margin-left: 0%;     
                ul {
                    li { 
                        a { 
                            @include boton-redondeado;
                            font-size: 22px; 
                            }  
                    }
                }
            }   
        }
    }
        
    .main-contacto {
        h3 {
            font-size: 25px;
        }
    }  
            
    footer {
        padding-bottom: 5px;
        .volver-arriba {
            a {
                img {
                    width: 15px;
                }      
            }
        }
        .navegador-footer {
            span {
                a {
                    font-size: 14px;
                    padding: 0px 10px;
                }   
            }
        }
    } 
}
    
    

    
    
    
    
    
    
    
    
    
    /*############## SMARTPHONE 480 ####################*/
@media (max-width: 480px) {
        
    header {
        nav {
            .contenedor-nav {
                .encabezado {
                    display: flex;
                    align-items: center;
                    .enlace-logo {
                        display: flex;
                        align-items: baseline;
                        img {
                            width:60px;
                            height:60px;
                            border-radius: 50%;
                            margin-bottom: 5px;
                        }
                    }
                    .titulos {
                        display: flex;
                        flex-direction: column;
                        h1 {
                            margin-bottom: 4px !important;
                            font-weight: 400;
                            color: beige;
                            font-size: 25px;
                        }
                        .subtitulo {
                            display: flex;
                            align-items: center;
                            h2 {
                                color: rgb(223, 219, 219);
                                font-weight: 300;
                                font-size: 17px;  
                            }
                            .logo-spotify {
                                width: 15px; 
                                height: 15px;
                                margin-left: 4px;
                                margin-bottom: 7px;                                
                            }
                        }
                    }
                }
                button {
                    border: 0px !important;
                    svg {
                        color: aliceblue;
                        width: 50px;
                        height: 50px;
                    }    
                }
                #menu {
                    ul {
                        li {
                            .nav-link {
                                font-weight: 300;
                                font-size: 17px;
                                margin: 0px !important;
                                color: rgb(216, 213, 213) !important;
                                transition: all 0.5s ease;
                                &:hover {
                                    color:rgb(250, 137, 95) !important; 
                                }
                            }   
                        }
                        .servicios-menu {
                            .servicios-desplegable {
                                border-left: solid 1px;
                                border-right: solid 1px;
                                border-radius: 0px;  
                                background-image: linear-gradient(to top, rgb(6, 6, 83), black 60%);
                                .servicios-item {
                                    color: rgb(157, 252, 220); 
                                    font-size: 23px;
                                    text-align: center;
                                    border-radius: 60px;
                                }   
                            }
                        }
                    }
                    .redes-menu {
                        margin-top: 15px;                       
                        display: flex;
                        list-style-type: none;
                        li {
                            a {
                                .logo-redes-menu {
                                    width: 20px;
                                    height: 20px;
                                    margin: 2px 3px;
                                }
                            }
                        }
                    }
                }   
                .dropdown-item {
                    color: rgb(157, 252, 220); 
                    font-size: 23px;
                    text-align: center;
                    border-radius: 60px;                   
                }   
                .dropdown-menu {
                    border-left: solid 1px;
                    border-right: solid 1px;
                    border-radius: 0px;  
                    background-image: linear-gradient(to top, rgb(6, 6, 83), black 60%);
                }              
            }
        }
        .boton-sh {
            display: flex;
            justify-content: center;
        }
    
        .boton-sh a {
            
            text-align: center;
            width: 100%;
            height: auto;
            padding: 15px 10px 20px 10px;
            text-decoration: none;
            color: rgb(204, 202, 202);
            font-size: 30px;
            transition: all 0.5s ease;   
        }
        .boton-sh a:hover {
            color: rgb(252, 250, 250);
        }
    }

    
    .main-inicio {
        .caja-texto-inicio {
            .texto-inicio {
                font-size: 30px;
                padding: 40px 5%;
                margin: 0px 4%;
            }
        }      
        .texto-playlists {
            padding-top: 20px;
            padding-bottom: 20px;
            h3 {
                font-size: 30px;
                margin-top: 20px;
                margin-left: 40px;
                margin-bottom: 20px;
                margin-right: 40px;  
            }       
            p {
                padding-left: 40px;
                padding-right: 40px;           
                font-size: 18px;
            } 
        }
    
        .seccion-canciones { 
            .texto-canciones {
                margin: 40px;
                p {
                    text-align: center;
                    font-size:35px;
                    font-weight: 600;
                    margin: 0px 10px;           
                }
            }
            .caja-canciones {
                padding: 0px 20px;    
                iframe {
                    margin: 10px 10px;
                    width: 80px;
                    height: 80px;
                }   
            }
        }      
    }

    .main-nosotros {
        padding: 10% 0% 3% 0%;
        h3 {
            margin-left: 30px;
            font-size: 40px;
            margin-bottom: 2%;
        } 
        .texto-nosotros {
            font-size: 18px;
            margin-left: 30px;
            margin-right: 10%;
        }
    }
    .main-servicios {
        .encabezado-promocion {
            .titulo-promocion {
                font-size: 17px;
                margin-bottom: 2%;     
            }
            img {
                width: 45%;
            }
        }
        .texto-promocion { 
            margin-top: 15px;   
            
            p {
                @include parrafos-principales;
                font-size: 18px;

            }      
        }
        .enviar-dos {
            margin: 3% 5%;
            a {
                margin: 4%;
                padding: 2%;
                color: white;
                font-size: 1.1rem;
                
            }
        }
        .encabezado-curador {
            .titulo-curador {
                font-size: 17px;
                margin: 2% 0% 1% 0%;     
            }
            img {
                width: 45%;
            }
        }
        .texto-curador {
            margin-top: 15px;           
            p {
                @include parrafos-principales;
                font-size: 18px;
            }
        }       
    }
    .main-playlist {
        h3 {
            font-size:30px;
            padding: 4% 3% 2% 3%;   
        }
        
        .texto-playlists {   
            p {
                @include parrafos-principales;
                font-size: 18px;
                padding-left: 3%;       
            } 
        }
         
        .indice-playlist { 
            padding: 7% 1%;
            ul {
                li { 
                    .boton-verde {
                        @include boton-redondeado;
                        font-size: 20px;   
                    }
                }
            }
        }
                    
    }
    
    .pages-playlists {
        .titulo-playlists {
            a {
                img {
                    width: 15px;
                }
            }
            
            margin-bottom: 10px;
            padding-left: 10px;
            display: flex;
            justify-content: start;
            align-items:baseline;
            h3 {
                margin-left: 1.5%;
                font-weight: 400;
                font-size: 22px;
            }
            .segui {
                display: flex;
                p {
                    font-size: 10px;
                    font-weight: 300;
                    margin-left: 10px;
                    color: rgb(134, 247, 134);
                }
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: 3px;
                    padding-bottom: 17px;
                    img {
                        width: 10px;
                        height: 10px;
                    }
                }
            }          
        }
        .caja-playlist {
            flex-direction: column;
            margin: 2% 0%;
            iframe {
                               
                height: 350px;
                width: 80%;
                border-radius: 2px;
                
            } 
            .indice-playlist2 {
                margin-left: 0%;
                padding-top: 15px;
                margin-top: 15px;      
                ul {
                    li {
                        a { 
                        @include boton-redondeado;
                        font-size: 20px; 
                        }  
                    }
                }
            }   
        }
    }

    .main-contacto {
        h3 {
            font-size: 25Px;
        }
    }

    footer {
        padding-bottom: 5px;
        .volver-arriba {
            a {
                img {
                    width: 15px;
                }      
            }
        }
        .navegador-footer {
            margin-top: 0px;
            span {
                a {
                    font-size: 13px;
                    padding: 0px 7px;
                }   
            }
        }
    }   
}    
