
.main-tutorias {
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/dVFvWgx3/black-wireless-headphones-on-black-surface.jpg);
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed;
    .encabezado-curador {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .titulo-curador { 
            h3 {
                color: rgb(233, 229, 229);
                font-weight: 600;
                padding-left: 4%;
                padding-right: 4%;
                font-size: 120px;
            }      
        }
        img {
            width: 48%;
            height: auto;
            margin-right: 20px;
            border: solid 1px;
        }
    }
    .texto-curador {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;       
        font-size: 30px;
        text-align: left;  
        p {
        margin-top: 10px;
        font-weight: 300;
        margin-left: 30px;
        margin-right: 8%;
        color: rgb(233, 230, 230);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);  
        }
    }
}       