
.main-tutorias {
    background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.582)), url(https://i.postimg.cc/dVFvWgx3/black-wireless-headphones-on-black-surface.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    .encabezado-curador {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .titulo-curador { 
            h3 {
                color: rgb(233, 229, 229);
                font-weight: 600;
                text-shadow: 2px 2px 2px black;
                padding-right: 4%;
                font-size: 60px;
            }      
        }
        img {
            width: 35%;
            height: auto;
            margin-right: 20px;
            border: solid 1px;
        }
    }
    .texto-curador {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;       
        font-size: 27px;
        text-align: left;  
        p {
            margin-top: 10px;
            font-weight: 300;
            color: rgb(233, 230, 230);
            text-shadow: 1px 1px 1px rgb(0, 0, 0);  
        }
    }
}       